name: assignment-test
on:
    push:
        tags-ignore:
            - '*'
        branches:
            - '*'
jobs:
    full-test:
        container: cuaesd/aesd-autotest:24-assignment4-buildroot
        runs-on: ubuntu-latest
        timeout-minutes: 120
        steps:
          - uses: actions/checkout@v2
          - name: Checkout submodules
            run: git submodule update --init --recursive
          - name: Run full test
            run: |
                export FORCE_UNSAFE_CONFIGURE=1
                ./full-test.sh
          - name: Cleanup
            if: always()
            run: |
              echo "Cleanup complete"
